# Created by .ignore support plugin (hsz.mobi)
# coverage
coverage
.nyc_output

# yarn
*.lock
.git
# php files
index.php

# Numerous always-ignore extensions
*.bak
*.patch
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.zip
*.vi
*~
*.sass-cache

# OS or Editor folders
.DS_Store
._*
.cache
.project
.settings
.tmproj
*.esproj
*.sublime-project
*.sublime-workspace
nbproject
thumbs.db
public
# Folders to ignore
.hg
.svn
.CVS
.idea
node_modules
old/
*-old/
*-notrack/
build/
combo/
reference/
jscoverage_lib/
temp/

